PORT=5000
APP_BASE_URL=http://localhost:5000
SECRET_KEY=replace-me
AZURE_TENANT_ID=replace-me
AZURE_CLIENT_ID=replace-me
AZURE_CLIENT_SECRET=replace-me
AZURE_REDIRECT_URI=http://localhost:5000/auth/callback
DEFAULT_ADMIN_USERS=admin,brahyam,brahyammontoya@gammalab14.online,aurrego,aurrego@gammalab14.online
DEFAULT_READ_ONLY_USERS=bsmontoy@bancolombia.com.co
LOCAL_LOGIN_ENABLED=true
LOCAL_OTP_TTL_MINUTES=10
LOCAL_LOGIN_ALIASES=admin:brahyammontoya@gammalab14.online,brahyam:brahyammontoya@gammalab14.online,aurrego:aurrego@gammalab14.online
LOCAL_LOGIN_OTP_TARGETS=admin:brahyam.montoya@gammaingenieros.com,brahyam:brahyam.montoya@gammaingenieros.com
DEFAULT_OTP_EMAIL=brahyam.montoya@gammaingenieros.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-user@example.com
SMTP_PASSWORD=replace-me
SMTP_FROM=your-user@example.com
SMTP_USE_TLS=true
NETSKOPE_BASE_URL=https://gammaingenieros-co.goskope.com
NETSKOPE_USER=your-user@example.com
NETSKOPE_PASSWORD=replace-me
NETSKOPE_HEADLESS=false
NETSKOPE_LOGIN_PATH=/
NETSKOPE_NETWORK_LOCATION_PATH="/ns#/profile-network-location"
NETSKOPE_SELECTORS_JSON=
